@import "tailwindcss";

@import "./pages/cart";

:root {
    --body-color: #d7ccc8;
    --primary: #823200;
}

.form-control {
    @apply border-b border-b-zinc-400 h-10 focus:outline-0 w-full;
}

.form-label {
    @apply text-sm block;
}

.floating-input-icon {
    @apply h-12 focus:outline-0 w-full relative placeholder:absolute placeholder:top-1/2 placeholder:-translate-y-1/2 placeholder:transition-all placeholder:ease-in-out placeholder:duration-300 focus:placeholder:text-xs focus:placeholder:top-1;
}

.invalid-feedback {
    @apply text-xs text-end text-red-500 mt-1;
}

a.active {
    @apply bg-(--primary) text-white;
}

button,
[role="button"]:hover {
    cursor: pointer;
}

.btn {
    @apply bg-(--primary) text-white px-3 py-2 rounded-lg hover:bg-[#D15000] transition-colors;
}

.dropdown {
    opacity: 0;
    display: none;
}

.dropdown.show {
    display: block;
    animation: dropdown forwards 300ms;
}

@keyframes dropdown {
    0% {
        opacity: 0;
        display: block;
    }

    100% {
        opacity: 1;
    }
}
